@using Consquisguiaworld.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<!--/banner-->
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Signin</li>
</ol>
<!--//banner-->

<!--main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Sign In Now</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @*<label for="exampleInputEmail1 mb-2">Email address</label>*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "exampleInputEmail1" })
                        @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">*@
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @*<label for="exampleInputPassword1 mb-2">Password</label>*@
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "exampleInputPassword1" })
                        @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">*@
                    </div>

                    <div class="form-check mb-2">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                        @*<input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>*@
                    </div>

                    <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                    <p><a href="register.html"> Don't have an account?</a></p>
                }
            </div>
        </div>
    </div>
</section>

<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>
<!--//main-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}